<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga & Despido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="flex-panel">
        <div id="HalfPanelLeft">
            <div class="db-search_employee">
                <h2>Buscar empleado a evaluar</h2>
                <div>
                    <label for="SearchMode">Modo de Búsqueda:</label>
                    <select id="SearchMode">
                        <option value="code">Código OFISIS</option>
                        <option value="dni">DNI</option>
                        <option value="username">Nombre de Usuario</option>
                        <option value="fullname">Nombres y Apellidos</option>
                    </select>
                    <input type="text" id="SearchEmployee" placeholder="Buscar empleado">
                    <div class="card-container" id="EmployeeResults"></div>
                </div>
            </div>
            
            <div class="db-filter-pairs">
                <div class="filter-buttons" id="FiltersPanel">
                    <h2>Filtros de búsqueda de pares</h2>
                    <div class="month-range">
                        <label for="SelectedMonth">Mes:</label>
                        <select id="SelectedMonth">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
            
                        <label for="MonthsBack">Meses hacia atrás:</label>
                        <input type="number" id="MonthsBack" min="0" placeholder="0" />
                    </div>
                    <button id="FlagRegion" onclick="toggleFilter(this)">Region</button>
                    <button id="FlagZone" onclick="toggleFilter(this)">Zona</button>
                    <button id="FlagAgency" onclick="toggleFilter(this)">Agencia</button>
                </div>
                <div class="card-container" id="FilteredPairsResults"></div>
            </div>
        </div>

        <div id="HalfPanelRight">
            <div class="db-filter-pairs">
                <h2>Ranking de pares</h2>
                <div id="RankingByCriticalCols">
                    <div class="filter-buttons" id="RankingButtons"></div>
                    <div class="card-container" id="RankingTable"></div>
                </div>
            </div>
            
            <div class="db-filter-pairs">
                <h2>Tablas de la carta de cargos</h2>
                <div id="StatsPanel" style="display: flex;">
                    
                </div>
            </div>
            
            
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/buttons_style.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db_connection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db_getters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db_compute.js') }}"></script>
</body>
</html>