<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga & Despido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Database Initializer</h1>
    <div class="db-connection">
        <input type="text" id="dbPath" placeholder="Database path">
        <button id="DB-ConnectionButton" onclick="toggleMannConnection(this)">Conectar</button>
    </div>
    
    <div class="db-search_employee">
        <label for="SearchMode">Modo de Búsqueda:</label>
        <select id="SearchMode">
            <option value="code">Código OFISIS</option>
            <option value="username">Nombre de Usuario</option>
            <option value="fullname">Nombres y Apellidos</option>
        </select>
        <input type="text" id="SearchEmployee" placeholder="Buscar empleado">
        <div class="card-container" id="EmployeeResults"></div>
    </div>
    
    <h2>Filters</h2>
    <div class="filter-buttons">
        <button onclick="toggleFilter(this)">Region</button>
        <button onclick="toggleFilter(this)">Zona</button>
        <button onclick="toggleFilter(this)">Agencia</button>
        <button onclick="toggleFilter(this)">Comité</button>
        <button onclick="toggleFilter(this)">Categoría</button>
        <button onclick="toggleFilter(this)">Mínimo 15 días trabajados al mes</button>
        <button onclick="toggleFilter(this)">Metas</button>
    </div>

    <script src="{{ url_for('static', filename='js/buttons_style.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db_getters.js') }}"></script>
</body>
</html>